<div class="nav-bar">
  <div class="main">
    <div class="nav-bar-left">
      <img src="assets/music.png"  class="logo"/>
    </div>
    <div class="nav-bar-center">
      <div class="music-nav-item" *ngFor="let item of navList;let i = index" [class.active]="item.active" (click)="changeActive(i)">
        <ng-container *ngIf="item.show">
          <a [routerLink]="[item.url]">{{item.name}}</a>
        </ng-container>
      </div>
    </div>
    <div class="nav-bar-right">
      <div class="login" *ngIf="isLogin">
        <div class="nickname">hi,{{nickname}}</div>
        <button type="button" class="btn btn-sm loginButton" data-toggle="modal" (click)="loginOut()">退出登录</button>
      </div>
      <div class="login" *ngIf="!isLogin">
        <button type="button" class="btn btn-sm loginButton" data-toggle="modal" data-target="#loginModal">登录</button>
      </div>
    </div>
  </div>
</div>
<app-login></app-login>
