<div class="music-list">
  <div class="music-list-info">
    <img src="//p.qpic.cn/music_cover/nvRBiaJHaPBvG00iczEYfbu8xatvkYfTFbv5Xazia8XtrNfJ1cw35DDdA/300?n=1" class="music-list-logo">
    <div class="list-info-container">
      <div class="music-list-title">
        2019已经过去¼ 你的目标完成的怎么样了？
      </div>
      <div class="music-list-author">
        清风徐来
      </div>
      <div class="music-list-time">
        2019-04-01 创建
      </div>
    </div>
  </div>
  <div class="music-list-table">
    <table class="table table-striped">
      <thead>
      <tr>
        <td>歌曲</td>
        <td>歌手</td>
        <td>专辑</td>
        <td>时长</td>
        <td></td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>祝星</td>
        <td>陈粒</td>
        <td>如也</td>
        <td>3:18</td>
        <td></td>
      </tr>
      <tr>
        <td>自己</td>
        <td>许均</td>
        <td>万松岭</td>
        <td>3:50</td>
        <td></td>
      </tr>
      <tr>
        <td>野子</td>
        <td>苏运莹</td>
        <td>中国好声音</td>
        <td>5:22</td>
        <td></td>
      </tr>
      <tr>
        <td>祝星</td>
        <td>陈粒</td>
        <td>如也</td>
        <td>3:18</td>
        <td></td>
      </tr>
      <tr>
        <td>自己</td>
        <td>许均</td>
        <td>万松岭</td>
        <td>3:50</td>
        <td></td>
      </tr>
      <tr>
        <td>野子</td>
        <td>苏运莹</td>
        <td>中国好声音</td>
        <td>5:22</td>
        <td></td>
      </tr>
      <tr>
        <td>祝星</td>
        <td>陈粒</td>
        <td>如也</td>
        <td>3:18</td>
        <td></td>
      </tr>
      <tr>
        <td>自己</td>
        <td>许均</td>
        <td>万松岭</td>
        <td>3:50</td>
        <td></td>
      </tr>
      <tr>
        <td>野子</td>
        <td>苏运莹</td>
        <td>中国好声音</td>
        <td>5:22</td>
        <td></td>
      </tr>
      <tr>
        <td>野子</td>
        <td>苏运莹</td>
        <td>中国好声音</td>
        <td>5:22</td>
        <td></td>
      </tr>
      <tr>
        <td>野子</td>
        <td>苏运莹</td>
        <td>中国好声音</td>
        <td>5:22</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
