<div class="music-list">
  <div class="music-list-info">
    <img src="{{discInfo.dissPic == '' || discInfo.dissPic == undefined ? 'http://47.100.197.56/static/image/music2.png': discInfo.dissPic}}" class="music-list-logo">
    <div class="list-info-container">
      <div class="music-list-title">
        {{discInfo.dissName}}
      </div>
      <div class="music-list-author">
        {{discInfo.creatorNickname}}
      </div>
      <div class="music-list-time" *ngIf="discInfo.createTime != ''">
        {{discInfo.createTime * 1000 | date:'yyyy-MM-dd'}}
      </div>
      <div class="music-list-listen-num" *ngIf="discInfo.listenNum != ''">
        播放量：{{discInfo.listenNum}}
      </div>
    </div>
  </div>
  <div class="music-list-table">
    <table class="table table-striped">
      <thead>
      <tr>
        <td>歌曲</td>
        <td></td>
        <td>歌手</td>
        <td>专辑</td>
        <td>时长</td>
        <td></td>
      </tr>
      </thead>
      <tbody>
      <tr (dblclick)="changeMusicList(i)" *ngFor="let item of musicList; let i = index">
        <td>{{item.songName}}</td>
        <td class="item-control-btn">
          <img src="http://47.100.197.56/static/image/play.png" title="播放" (click)="changeMusicList(i)">
          <img src="http://47.100.197.56/static/image/add.png" title="收藏" (click)="collectingMusic(item)" *ngIf="isLogin">
          <img src="http://47.100.197.56/static/image/download.png" title="下载" (click)="downloadMusic(item.songId, item.source)">
        </td>
        <td>{{item.singerName}}</td>
        <td style="overflow: hidden">{{item.albumName}}</td>
        <td>{{item.songTime/10 | formatTime}}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
