.recommendedMusicList{
  width: 100%;
<<<<<<< HEAD
  height: 540px;
=======
  height: 504px;
>>>>>>> 01b6c0b5a183bc6cec7ccf339c469d6ef1d906ba
  position: relative;
}
.music-list{
  width: 120px;
  height: 160px;
<<<<<<< HEAD
  margin: 0 21px 20px  21px;
=======
  margin: 0 21px 5px  21px;
>>>>>>> 01b6c0b5a183bc6cec7ccf339c469d6ef1d906ba
  float: left;
}
.list-cover{
  position: relative;
}
.list-cover:hover .musicListCover{
  opacity:1;
  transition-duration:0.5s;
}
.musicListCover{
  height: 120px;
  width: 120px;
  position: absolute;
  background: rgba(100,100,100,0.6);
  cursor: pointer;
  opacity:0;
}
.list-cover-img{
  height: 120px;
  width: 120px;
  cursor: pointer;
<<<<<<< HEAD
  border: 1px solid #d8d8d8;
}
.list-name{
  font-size: 14px;
  width: 120px;
  height: 40px;
  text-align: justify;
  color: #000000;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: normal;
=======
}
.list-name{
  width: 120px;
  height: 35px;
  font-size: 12px;
  overflow: hidden;
  text-overflow:ellipsis;
  cursor: pointer;
>>>>>>> 01b6c0b5a183bc6cec7ccf339c469d6ef1d906ba
}
